fastapi==0.124.2
uvicorn==0.38.0
starlette==0.50.0
sqlalchemy==2.0.22
psycopg2-binary==2.9.11
supabase==2.27.2
bcrypt==5.0.0
python-jose==3.5.0
passlib==1.7.4
cryptography==46.0.3
pydantic==2.12.5
python-dotenv==1.2.1
requests==2.32.5
httpx==0.28.1
anyio==4.12.0
pytz==2024.1
rich==14.2.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
python-multipart==0.0.20